{
  "openapi": "3.1.0",
  "info": {
    "title": "Apiosk API",
    "version": "2.0.0",
    "description": "Buy verifiable data per call with an organisation API key. Discover sources, run one directly, or let Apiosk plan across sources. Amounts are USD; every amount carries an exact micro-USD integer."
  },
  "servers": [
    {
      "url": "https://gateway.apiosk.com"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "http",
        "scheme": "bearer",
        "description": "An organisation API key: Authorization: Bearer apk_org_live_…"
      }
    },
    "schemas": {
      "ContinuationState": {
        "type": "object",
        "additionalProperties": false,
        "description": "Signed snapshot returned by this run. Copy unchanged.",
        "required": [
          "schema_version",
          "state_ref",
          "revision",
          "expires_at",
          "focus",
          "state_token"
        ],
        "properties": {
          "schema_version": {
            "type": "string",
            "enum": [
              "2"
            ]
          },
          "state_ref": {
            "type": "string",
            "format": "uuid"
          },
          "revision": {
            "type": "integer",
            "minimum": 0
          },
          "expires_at": {
            "type": "string",
            "format": "date-time"
          },
          "focus": {
            "type": "object",
            "additionalProperties": false,
            "required": [
              "entity_refs",
              "goal_refs"
            ],
            "properties": {
              "entity_refs": {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "goal_refs": {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            }
          },
          "state_token": {
            "type": "string"
          }
        }
      },
      "Continuation": {
        "type": "object",
        "required": [
          "state",
          "actions"
        ],
        "properties": {
          "state": {
            "$ref": "#/components/schemas/ContinuationState"
          },
          "actions": {
            "type": "array",
            "minItems": 1,
            "items": {
              "type": "object",
              "required": [
                "action_id",
                "kind",
                "label",
                "requires_authorization",
                "input_schema"
              ],
              "properties": {
                "action_id": {
                  "type": "string",
                  "format": "uuid"
                },
                "kind": {
                  "type": "string",
                  "enum": [
                    "select_entity",
                    "supply_input"
                  ]
                },
                "label": {
                  "type": "string"
                },
                "requires_authorization": {
                  "type": "boolean",
                  "const": false
                },
                "input_schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        }
      },
      "BuyerRun": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "status": {
            "type": "string",
            "enum": [
              "requires_approval",
              "running",
              "completed",
              "partial",
              "needs_input",
              "needs_selection",
              "unsupported",
              "cancelled",
              "failed"
            ]
          },
          "question": {
            "type": "string"
          },
          "capability": {
            "type": "string",
            "description": "European capability slug for a structured capability plan or run."
          },
          "normalized_records": {
            "type": "array",
            "description": "Contract-extracted provider facts grouped by subject. Equal facts for one subject are combined with all their source references; absent fields are never invented.",
            "items": {
              "type": "object",
              "properties": {
                "entity_ref": { "type": "string", "format": "uuid" },
                "entity_refs": {
                  "type": "array",
                  "description": "Original subject references joined by a matching stable identifier.",
                  "items": { "type": "string", "format": "uuid" }
                },
                "facts": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "type": { "type": "string" },
                      "value": {},
                      "observed_at": { "type": "string", "format": "date-time" },
                      "expires_at": { "type": "string", "format": "date-time" },
                      "sources": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "source_id": { "type": "string" },
                            "result_ref": { "type": "string", "format": "uuid" },
                            "source_url": { "type": ["string", "null"] },
                            "retrieved_at": { "type": "string", "format": "date-time" },
                            "source_pointer": { "type": ["string", "null"] }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "plan": {
            "type": "object",
            "properties": {
              "quote_ref": {
                "type": "string",
                "format": "uuid"
              },
              "expires_at": {
                "type": "string",
                "format": "date-time"
              },
              "steps": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "source_id": {
                      "type": "string",
                      "example": "kvk-dutch-business-register"
                    },
                    "operation": {
                      "type": "string",
                      "example": "company_registry.search"
                    },
                    "name": {
                      "type": "string"
                    },
                    "conditional": {
                      "type": "boolean"
                    },
                    "estimated_cost": {
                      "type": "object",
                      "properties": {
                        "amount": {
                          "type": "number",
                          "example": 0.023
                        },
                        "amount_micro_usd": {
                          "type": "string",
                          "example": "23000"
                        },
                        "currency": {
                          "type": "string",
                          "example": "USD"
                        }
                      }
                    }
                  }
                }
              },
              "estimated_total": {
                "type": "object",
                "properties": {
                  "amount": {
                    "type": "number",
                    "example": 0.023
                  },
                  "amount_micro_usd": {
                    "type": "string",
                    "example": "23000"
                  },
                  "currency": {
                    "type": "string",
                    "example": "USD"
                  }
                }
              }
            }
          },
          "answer": {
            "type": [
              "object",
              "null"
            ],
            "description": "Apiosk's reading of the results, with evidence pointers. Null for a direct call."
          },
          "data": {
            "type": "object",
            "description": "The source document, when the run produced exactly one."
          },
          "results": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "result_ref": {
                  "type": "string",
                  "format": "uuid"
                },
                "source": {
                  "type": "object",
                  "properties": {
                    "provider": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    }
                  }
                },
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "usage": {
            "type": "object",
            "properties": {
              "sources": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "source_id": {
                      "type": "string"
                    },
                    "operation": {
                      "type": "string"
                    },
                    "calls": {
                      "type": "integer"
                    },
                    "cost": {
                      "type": "object",
                      "properties": {
                        "amount": {
                          "type": "number",
                          "example": 0.023
                        },
                        "amount_micro_usd": {
                          "type": "string",
                          "example": "23000"
                        },
                        "currency": {
                          "type": "string",
                          "example": "USD"
                        }
                      }
                    }
                  }
                }
              },
              "cost": {
                "type": "object",
                "properties": {
                  "amount": {
                    "type": "number",
                    "example": 0.023
                  },
                  "amount_micro_usd": {
                    "type": "string",
                    "example": "23000"
                  },
                  "currency": {
                    "type": "string",
                    "example": "USD"
                  }
                }
              },
              "held": {
                "type": "object",
                "properties": {
                  "amount": {
                    "type": "number",
                    "example": 0.023
                  },
                  "amount_micro_usd": {
                    "type": "string",
                    "example": "23000"
                  },
                  "currency": {
                    "type": "string",
                    "example": "USD"
                  }
                }
              }
            }
          },
          "balance": {
            "type": "object",
            "properties": {
              "remaining": {
                "type": "object",
                "properties": {
                  "amount": {
                    "type": "number",
                    "example": 0.023
                  },
                  "amount_micro_usd": {
                    "type": "string",
                    "example": "23000"
                  },
                  "currency": {
                    "type": "string",
                    "example": "USD"
                  }
                }
              }
            }
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                }
              }
            }
          },
          "retry_after_ms": {
            "type": "integer"
          },
          "message": {
            "type": [
              "string",
              "null"
            ],
            "description": "Natural-language clarification for needs_input."
          },
          "needs_input": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "label": {
                  "type": "string"
                },
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "candidates": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "object"
            }
          },
          "approval_required_reason": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              }
            }
          },
          "metadata": {
            "type": "object",
            "description": "Attribution for a single result, when present."
          },
          "continuation": {
            "$ref": "#/components/schemas/Continuation"
          }
        }
      },
      "BuyerError": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "object",
            "required": [
              "code",
              "message"
            ],
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              }
            },
            "additionalProperties": true
          }
        }
      },
      "WorkflowInput": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "slug",
          "input"
        ],
        "properties": {
          "slug": {
            "type": "string",
            "description": "Workflow slug from GET /v2/ask/workflows.",
            "example": "european-company-dossier"
          },
          "input": {
            "type": "object",
            "additionalProperties": true,
            "example": {
              "name": "Mollie B.V.",
              "country": "NL",
              "registration": "30204462"
            }
          }
        }
      },
      "WorkflowCountryCoverage": {
        "type": "object",
        "required": [
          "country",
          "identity",
          "screening",
          "filings",
          "procurement",
          "available"
        ],
        "properties": {
          "country": {
            "type": "string"
          },
          "identity": {
            "type": "string"
          },
          "screening": {
            "type": "string"
          },
          "filings": {
            "type": "string"
          },
          "procurement": {
            "type": "string"
          },
          "available": {
            "type": "boolean",
            "description": "The country recipe can be planned; not proof of complete or current records."
          },
          "unavailable_reason": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "EuropeanCapabilityRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "capability"
        ],
        "properties": {
          "capability": {
            "type": "string",
            "enum": [
              "eu.company.profile",
              "eu.tenders.search",
              "eu.statistics.query"
            ]
          },
          "country": {
            "type": "string",
            "pattern": "^[A-Za-z]{2}$",
            "description": "Optional two-letter ISO country code used for source routing."
          },
          "input": {
            "type": "object",
            "description": "Structured fact-type input; inspect resolve for exact field schemas."
          },
          "operation": {
            "type": "string",
            "description": "Optional exact operation selector, required for CBS observation metrics."
          }
        }
      },
      "EuropeanCapabilityResolution": {
        "type": "object",
        "required": [
          "capability",
          "sources",
          "ready_source_count"
        ],
        "properties": {
          "capability": {
            "type": "string"
          },
          "country": {
            "type": [
              "string",
              "null"
            ]
          },
          "ready_source_count": {
            "type": "integer",
            "minimum": 0
          },
          "sources": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "source_id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "role": {
                  "type": "string",
                  "enum": [
                    "primary",
                    "supplementary"
                  ]
                },
                "ready": {
                  "type": "boolean"
                },
                "operations": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "operation": {
                        "type": "string"
                      },
                      "endpoint_id": {
                        "type": "string",
                        "format": "uuid"
                      },
                      "method": {
                        "type": "string"
                      },
                      "path": {
                        "type": "string"
                      },
                      "inputs": {
                        "type": "array",
                        "items": {
                          "type": "object"
                        }
                      },
                      "input": {
                        "type": "object"
                      },
                      "missing_input": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "invalid_input": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "ready": {
                        "type": "boolean"
                      },
                      "output": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "freshness_seconds": {
                        "type": [
                          "integer",
                          "null"
                        ]
                      },
                      "price": {
                        "type": "object"
                      },
                      "run_url": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "paths": {
    "/v2/sources": {
      "get": {
        "summary": "List sources",
        "description": "Free directory of verified sources, including discovery-only and restricted entries. Requires sources:read.",
        "operationId": "listSources",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 200
            }
          },
          {
            "name": "category",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tag",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sector",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "capability",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "protocol_version": {
                      "type": "string"
                    },
                    "sources": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "slug": {
                            "type": "string",
                            "example": "kvk-dutch-business-register"
                          },
                          "name": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "category": {
                            "type": "string"
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "sectors": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "capabilities": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Advertised and accepted capabilities; check executable_capabilities to identify runnable ones."
                          },
                          "input_types": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "endpoint_count": {
                            "type": "integer",
                            "description": "Registered endpoints, including endpoints without an accepted execution contract."
                          },
                          "available_in_v2": {
                            "type": "boolean",
                            "description": "True if at least one operation in the source group can run."
                          },
                          "provider_slug": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "categories": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "logo_url": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "format": "uri"
                          },
                          "readiness": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Contract and evidence coverage, not a guarantee of live provider success."
                          },
                          "executable_capabilities": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Capabilities accepted by the runtime."
                          },
                          "service_count": {
                            "type": "integer"
                          },
                          "matching_service_count": {
                            "type": "integer"
                          },
                          "services": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "slug": {
                                  "type": "string"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "description": {
                                  "type": "string"
                                },
                                "category": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "total": {
                      "type": "integer"
                    },
                    "catalog_total": {
                      "type": "integer",
                      "description": "All verified directory groups, including discovery-only and restricted sources."
                    },
                    "offset": {
                      "type": "integer"
                    },
                    "next_offset": {
                      "type": [
                        "integer",
                        "null"
                      ]
                    },
                    "categories": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "tags": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "sectors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "capabilities": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "notice": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "invalid_query in a Gateway v2 error envelope"
          },
          "401": {
            "description": "invalid_api_key for a presented key; missing credentials can return the Gateway v2 errors array.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "invalid_source_input"
                        },
                        "message": {
                          "type": "string"
                        },
                        "required_scope": {
                          "type": "string"
                        },
                        "limit": {
                          "type": "string",
                          "enum": [
                            "per_request",
                            "monthly",
                            "max_spend",
                            "daily"
                          ]
                        },
                        "required": {
                          "type": "object",
                          "properties": {
                            "amount": {
                              "type": "number",
                              "example": 0.023
                            },
                            "amount_micro_usd": {
                              "type": "string",
                              "example": "23000"
                            },
                            "currency": {
                              "type": "string",
                              "example": "USD"
                            }
                          }
                        },
                        "available": {
                          "type": "object",
                          "properties": {
                            "amount": {
                              "type": "number",
                              "example": 0.023
                            },
                            "amount_micro_usd": {
                              "type": "string",
                              "example": "23000"
                            },
                            "currency": {
                              "type": "string",
                              "example": "USD"
                            }
                          }
                        },
                        "field": {
                          "type": "string"
                        },
                        "missing": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "expected": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "operations": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "retry_after_ms": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "insufficient_scope or organisation_unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "invalid_source_input"
                        },
                        "message": {
                          "type": "string"
                        },
                        "required_scope": {
                          "type": "string"
                        },
                        "limit": {
                          "type": "string",
                          "enum": [
                            "per_request",
                            "monthly",
                            "max_spend",
                            "daily"
                          ]
                        },
                        "required": {
                          "type": "object",
                          "properties": {
                            "amount": {
                              "type": "number",
                              "example": 0.023
                            },
                            "amount_micro_usd": {
                              "type": "string",
                              "example": "23000"
                            },
                            "currency": {
                              "type": "string",
                              "example": "USD"
                            }
                          }
                        },
                        "available": {
                          "type": "object",
                          "properties": {
                            "amount": {
                              "type": "number",
                              "example": 0.023
                            },
                            "amount_micro_usd": {
                              "type": "string",
                              "example": "23000"
                            },
                            "currency": {
                              "type": "string",
                              "example": "USD"
                            }
                          }
                        },
                        "field": {
                          "type": "string"
                        },
                        "missing": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "expected": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "operations": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "retry_after_ms": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "rate_limit_exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "invalid_source_input"
                        },
                        "message": {
                          "type": "string"
                        },
                        "required_scope": {
                          "type": "string"
                        },
                        "limit": {
                          "type": "string",
                          "enum": [
                            "per_request",
                            "monthly",
                            "max_spend",
                            "daily"
                          ]
                        },
                        "required": {
                          "type": "object",
                          "properties": {
                            "amount": {
                              "type": "number",
                              "example": 0.023
                            },
                            "amount_micro_usd": {
                              "type": "string",
                              "example": "23000"
                            },
                            "currency": {
                              "type": "string",
                              "example": "USD"
                            }
                          }
                        },
                        "available": {
                          "type": "object",
                          "properties": {
                            "amount": {
                              "type": "number",
                              "example": 0.023
                            },
                            "amount_micro_usd": {
                              "type": "string",
                              "example": "23000"
                            },
                            "currency": {
                              "type": "string",
                              "example": "USD"
                            }
                          }
                        },
                        "field": {
                          "type": "string"
                        },
                        "missing": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "expected": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "operations": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "retry_after_ms": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "service_unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "invalid_source_input"
                        },
                        "message": {
                          "type": "string"
                        },
                        "required_scope": {
                          "type": "string"
                        },
                        "limit": {
                          "type": "string",
                          "enum": [
                            "per_request",
                            "monthly",
                            "max_spend",
                            "daily"
                          ]
                        },
                        "required": {
                          "type": "object",
                          "properties": {
                            "amount": {
                              "type": "number",
                              "example": 0.023
                            },
                            "amount_micro_usd": {
                              "type": "string",
                              "example": "23000"
                            },
                            "currency": {
                              "type": "string",
                              "example": "USD"
                            }
                          }
                        },
                        "available": {
                          "type": "object",
                          "properties": {
                            "amount": {
                              "type": "number",
                              "example": 0.023
                            },
                            "amount_micro_usd": {
                              "type": "string",
                              "example": "23000"
                            },
                            "currency": {
                              "type": "string",
                              "example": "USD"
                            }
                          }
                        },
                        "field": {
                          "type": "string"
                        },
                        "missing": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "expected": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "operations": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "retry_after_ms": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/sources/{source_id}": {
      "get": {
        "summary": "Read one source",
        "description": "Free. Currently executable operations, schemas and buyer prices. Discovery-only sources can return source_not_found. Requires sources:read.",
        "operationId": "getSource",
        "parameters": [
          {
            "name": "source_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "kvk-dutch-business-register"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "category": {
                      "type": "string"
                    },
                    "tags": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "sectors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "jurisdiction": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "operations": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": "company_registry.search"
                          },
                          "name": {
                            "type": "string"
                          },
                          "input": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "field": {
                                  "type": "string",
                                  "example": "company.name"
                                },
                                "required": {
                                  "type": "boolean"
                                },
                                "schema": {
                                  "type": "object"
                                }
                              }
                            }
                          },
                          "output": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "pricing": {
                            "type": "object",
                            "properties": {
                              "model": {
                                "type": "string",
                                "example": "per_call"
                              },
                              "price": {
                                "type": "object",
                                "properties": {
                                  "amount": {
                                    "type": "number",
                                    "example": 0.023
                                  },
                                  "amount_micro_usd": {
                                    "type": "string",
                                    "example": "23000"
                                  },
                                  "currency": {
                                    "type": "string",
                                    "example": "USD"
                                  }
                                }
                              }
                            }
                          },
                          "freshness_seconds": {
                            "type": [
                              "integer",
                              "null"
                            ]
                          },
                          "source_id": {
                            "type": "string"
                          },
                          "variants": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "input": {
                                  "type": "array",
                                  "items": {
                                    "type": "object"
                                  }
                                },
                                "pricing": {
                                  "type": "object"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "logo_url": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "format": "uri"
                    },
                    "sources": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Member service slugs for a grouped provider."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "invalid_api_key, api_key_expired or api_key_revoked",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "invalid_source_input"
                        },
                        "message": {
                          "type": "string"
                        },
                        "required_scope": {
                          "type": "string"
                        },
                        "limit": {
                          "type": "string",
                          "enum": [
                            "per_request",
                            "monthly",
                            "max_spend",
                            "daily"
                          ]
                        },
                        "required": {
                          "type": "object",
                          "properties": {
                            "amount": {
                              "type": "number",
                              "example": 0.023
                            },
                            "amount_micro_usd": {
                              "type": "string",
                              "example": "23000"
                            },
                            "currency": {
                              "type": "string",
                              "example": "USD"
                            }
                          }
                        },
                        "available": {
                          "type": "object",
                          "properties": {
                            "amount": {
                              "type": "number",
                              "example": 0.023
                            },
                            "amount_micro_usd": {
                              "type": "string",
                              "example": "23000"
                            },
                            "currency": {
                              "type": "string",
                              "example": "USD"
                            }
                          }
                        },
                        "field": {
                          "type": "string"
                        },
                        "missing": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "expected": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "operations": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "retry_after_ms": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "insufficient_scope or organisation_unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "invalid_source_input"
                        },
                        "message": {
                          "type": "string"
                        },
                        "required_scope": {
                          "type": "string"
                        },
                        "limit": {
                          "type": "string",
                          "enum": [
                            "per_request",
                            "monthly",
                            "max_spend",
                            "daily"
                          ]
                        },
                        "required": {
                          "type": "object",
                          "properties": {
                            "amount": {
                              "type": "number",
                              "example": 0.023
                            },
                            "amount_micro_usd": {
                              "type": "string",
                              "example": "23000"
                            },
                            "currency": {
                              "type": "string",
                              "example": "USD"
                            }
                          }
                        },
                        "available": {
                          "type": "object",
                          "properties": {
                            "amount": {
                              "type": "number",
                              "example": 0.023
                            },
                            "amount_micro_usd": {
                              "type": "string",
                              "example": "23000"
                            },
                            "currency": {
                              "type": "string",
                              "example": "USD"
                            }
                          }
                        },
                        "field": {
                          "type": "string"
                        },
                        "missing": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "expected": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "operations": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "retry_after_ms": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "source_not_found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "invalid_source_input"
                        },
                        "message": {
                          "type": "string"
                        },
                        "required_scope": {
                          "type": "string"
                        },
                        "limit": {
                          "type": "string",
                          "enum": [
                            "per_request",
                            "monthly",
                            "max_spend",
                            "daily"
                          ]
                        },
                        "required": {
                          "type": "object",
                          "properties": {
                            "amount": {
                              "type": "number",
                              "example": 0.023
                            },
                            "amount_micro_usd": {
                              "type": "string",
                              "example": "23000"
                            },
                            "currency": {
                              "type": "string",
                              "example": "USD"
                            }
                          }
                        },
                        "available": {
                          "type": "object",
                          "properties": {
                            "amount": {
                              "type": "number",
                              "example": 0.023
                            },
                            "amount_micro_usd": {
                              "type": "string",
                              "example": "23000"
                            },
                            "currency": {
                              "type": "string",
                              "example": "USD"
                            }
                          }
                        },
                        "field": {
                          "type": "string"
                        },
                        "missing": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "expected": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "operations": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "retry_after_ms": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "rate_limit_exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "invalid_source_input"
                        },
                        "message": {
                          "type": "string"
                        },
                        "required_scope": {
                          "type": "string"
                        },
                        "limit": {
                          "type": "string",
                          "enum": [
                            "per_request",
                            "monthly",
                            "max_spend",
                            "daily"
                          ]
                        },
                        "required": {
                          "type": "object",
                          "properties": {
                            "amount": {
                              "type": "number",
                              "example": 0.023
                            },
                            "amount_micro_usd": {
                              "type": "string",
                              "example": "23000"
                            },
                            "currency": {
                              "type": "string",
                              "example": "USD"
                            }
                          }
                        },
                        "available": {
                          "type": "object",
                          "properties": {
                            "amount": {
                              "type": "number",
                              "example": 0.023
                            },
                            "amount_micro_usd": {
                              "type": "string",
                              "example": "23000"
                            },
                            "currency": {
                              "type": "string",
                              "example": "USD"
                            }
                          }
                        },
                        "field": {
                          "type": "string"
                        },
                        "missing": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "expected": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "operations": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "retry_after_ms": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "service_unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "invalid_source_input"
                        },
                        "message": {
                          "type": "string"
                        },
                        "required_scope": {
                          "type": "string"
                        },
                        "limit": {
                          "type": "string",
                          "enum": [
                            "per_request",
                            "monthly",
                            "max_spend",
                            "daily"
                          ]
                        },
                        "required": {
                          "type": "object",
                          "properties": {
                            "amount": {
                              "type": "number",
                              "example": 0.023
                            },
                            "amount_micro_usd": {
                              "type": "string",
                              "example": "23000"
                            },
                            "currency": {
                              "type": "string",
                              "example": "USD"
                            }
                          }
                        },
                        "available": {
                          "type": "object",
                          "properties": {
                            "amount": {
                              "type": "number",
                              "example": 0.023
                            },
                            "amount_micro_usd": {
                              "type": "string",
                              "example": "23000"
                            },
                            "currency": {
                              "type": "string",
                              "example": "USD"
                            }
                          }
                        },
                        "field": {
                          "type": "string"
                        },
                        "missing": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "expected": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "operations": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "retry_after_ms": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/execute/{source}/{operation}": {
      "post": {
        "summary": "Call a source",
        "operationId": "executeSource",
        "description": "Buy one call. The body is the operation's inputs. Requires sources:execute. Also available at /v2/execute/{source}/{operation}.",
        "parameters": [
          {
            "name": "source",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "kvk-dutch-business-register",
            "description": "Source id or name."
          },
          {
            "name": "operation",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "company_registry.search",
            "description": "Capability, endpoint id or operation name."
          },
          {
            "name": "max_spend",
            "in": "query",
            "schema": {
              "type": "number",
              "example": 1
            },
            "description": "Refuse before paying if the maximum cost is higher."
          },
          {
            "name": "wait_seconds",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 55,
              "default": 25
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 255
            },
            "description": "Retry-safe key: the same key with the same body pays once.",
            "example": "nomi-request-983472"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Input values, keyed by fact type, the source's own parameter name, or an unambiguous last word.",
                "additionalProperties": true,
                "example": {
                  "company.name": "Mollie B.V."
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "requires_approval",
                        "running",
                        "completed",
                        "partial",
                        "needs_input",
                        "needs_selection",
                        "unsupported",
                        "cancelled",
                        "failed"
                      ]
                    },
                    "question": {
                      "type": "string"
                    },
                    "plan": {
                      "type": "object",
                      "properties": {
                        "quote_ref": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "expires_at": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "steps": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "source_id": {
                                "type": "string",
                                "example": "kvk-dutch-business-register"
                              },
                              "operation": {
                                "type": "string",
                                "example": "company_registry.search"
                              },
                              "name": {
                                "type": "string"
                              },
                              "conditional": {
                                "type": "boolean"
                              },
                              "estimated_cost": {
                                "type": "object",
                                "properties": {
                                  "amount": {
                                    "type": "number",
                                    "example": 0.023
                                  },
                                  "amount_micro_usd": {
                                    "type": "string",
                                    "example": "23000"
                                  },
                                  "currency": {
                                    "type": "string",
                                    "example": "USD"
                                  }
                                }
                              }
                            }
                          }
                        },
                        "estimated_total": {
                          "type": "object",
                          "properties": {
                            "amount": {
                              "type": "number",
                              "example": 0.023
                            },
                            "amount_micro_usd": {
                              "type": "string",
                              "example": "23000"
                            },
                            "currency": {
                              "type": "string",
                              "example": "USD"
                            }
                          }
                        }
                      }
                    },
                    "answer": {
                      "type": [
                        "object",
                        "null"
                      ],
                      "description": "Apiosk's reading of the results, with evidence pointers. Null for a direct call."
                    },
                    "data": {
                      "type": "object",
                      "description": "The source document, when the run produced exactly one."
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "result_ref": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "source": {
                            "type": "object",
                            "properties": {
                              "provider": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              }
                            }
                          },
                          "data": {
                            "type": "object"
                          }
                        }
                      }
                    },
                    "usage": {
                      "type": "object",
                      "properties": {
                        "sources": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "source_id": {
                                "type": "string"
                              },
                              "operation": {
                                "type": "string"
                              },
                              "calls": {
                                "type": "integer"
                              },
                              "cost": {
                                "type": "object",
                                "properties": {
                                  "amount": {
                                    "type": "number",
                                    "example": 0.023
                                  },
                                  "amount_micro_usd": {
                                    "type": "string",
                                    "example": "23000"
                                  },
                                  "currency": {
                                    "type": "string",
                                    "example": "USD"
                                  }
                                }
                              }
                            }
                          }
                        },
                        "cost": {
                          "type": "object",
                          "properties": {
                            "amount": {
                              "type": "number",
                              "example": 0.023
                            },
                            "amount_micro_usd": {
                              "type": "string",
                              "example": "23000"
                            },
                            "currency": {
                              "type": "string",
                              "example": "USD"
                            }
                          }
                        },
                        "held": {
                          "type": "object",
                          "properties": {
                            "amount": {
                              "type": "number",
                              "example": 0.023
                            },
                            "amount_micro_usd": {
                              "type": "string",
                              "example": "23000"
                            },
                            "currency": {
                              "type": "string",
                              "example": "USD"
                            }
                          }
                        }
                      }
                    },
                    "balance": {
                      "type": "object",
                      "properties": {
                        "remaining": {
                          "type": "object",
                          "properties": {
                            "amount": {
                              "type": "number",
                              "example": 0.023
                            },
                            "amount_micro_usd": {
                              "type": "string",
                              "example": "23000"
                            },
                            "currency": {
                              "type": "string",
                              "example": "USD"
                            }
                          }
                        }
                      }
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "retry_after_ms": {
                      "type": "integer"
                    },
                    "message": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Natural-language clarification for needs_input."
                    },
                    "needs_input": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "label": {
                            "type": "string"
                          },
                          "schema": {
                            "type": "object"
                          }
                        }
                      }
                    },
                    "candidates": {
                      "type": [
                        "array",
                        "null"
                      ],
                      "items": {
                        "type": "object"
                      }
                    },
                    "approval_required_reason": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    },
                    "metadata": {
                      "type": "object",
                      "description": "Attribution for a single result, when present."
                    },
                    "continuation": {
                      "$ref": "#/components/schemas/Continuation"
                    }
                  }
                }
              }
            }
          },
          "202": {
            "description": "Still running; poll GET /v2/runs/{id}",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "requires_approval",
                        "running",
                        "completed",
                        "partial",
                        "needs_input",
                        "needs_selection",
                        "unsupported",
                        "cancelled",
                        "failed"
                      ]
                    },
                    "question": {
                      "type": "string"
                    },
                    "plan": {
                      "type": "object",
                      "properties": {
                        "quote_ref": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "expires_at": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "steps": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "source_id": {
                                "type": "string",
                                "example": "kvk-dutch-business-register"
                              },
                              "operation": {
                                "type": "string",
                                "example": "company_registry.search"
                              },
                              "name": {
                                "type": "string"
                              },
                              "conditional": {
                                "type": "boolean"
                              },
                              "estimated_cost": {
                                "type": "object",
                                "properties": {
                                  "amount": {
                                    "type": "number",
                                    "example": 0.023
                                  },
                                  "amount_micro_usd": {
                                    "type": "string",
                                    "example": "23000"
                                  },
                                  "currency": {
                                    "type": "string",
                                    "example": "USD"
                                  }
                                }
                              }
                            }
                          }
                        },
                        "estimated_total": {
                          "type": "object",
                          "properties": {
                            "amount": {
                              "type": "number",
                              "example": 0.023
                            },
                            "amount_micro_usd": {
                              "type": "string",
                              "example": "23000"
                            },
                            "currency": {
                              "type": "string",
                              "example": "USD"
                            }
                          }
                        }
                      }
                    },
                    "answer": {
                      "type": [
                        "object",
                        "null"
                      ],
                      "description": "Apiosk's reading of the results, with evidence pointers. Null for a direct call."
                    },
                    "data": {
                      "type": "object",
                      "description": "The source document, when the run produced exactly one."
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "result_ref": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "source": {
                            "type": "object",
                            "properties": {
                              "provider": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              }
                            }
                          },
                          "data": {
                            "type": "object"
                          }
                        }
                      }
                    },
                    "usage": {
                      "type": "object",
                      "properties": {
                        "sources": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "source_id": {
                                "type": "string"
                              },
                              "operation": {
                                "type": "string"
                              },
                              "calls": {
                                "type": "integer"
                              },
                              "cost": {
                                "type": "object",
                                "properties": {
                                  "amount": {
                                    "type": "number",
                                    "example": 0.023
                                  },
                                  "amount_micro_usd": {
                                    "type": "string",
                                    "example": "23000"
                                  },
                                  "currency": {
                                    "type": "string",
                                    "example": "USD"
                                  }
                                }
                              }
                            }
                          }
                        },
                        "cost": {
                          "type": "object",
                          "properties": {
                            "amount": {
                              "type": "number",
                              "example": 0.023
                            },
                            "amount_micro_usd": {
                              "type": "string",
                              "example": "23000"
                            },
                            "currency": {
                              "type": "string",
                              "example": "USD"
                            }
                          }
                        },
                        "held": {
                          "type": "object",
                          "properties": {
                            "amount": {
                              "type": "number",
                              "example": 0.023
                            },
                            "amount_micro_usd": {
                              "type": "string",
                              "example": "23000"
                            },
                            "currency": {
                              "type": "string",
                              "example": "USD"
                            }
                          }
                        }
                      }
                    },
                    "balance": {
                      "type": "object",
                      "properties": {
                        "remaining": {
                          "type": "object",
                          "properties": {
                            "amount": {
                              "type": "number",
                              "example": 0.023
                            },
                            "amount_micro_usd": {
                              "type": "string",
                              "example": "23000"
                            },
                            "currency": {
                              "type": "string",
                              "example": "USD"
                            }
                          }
                        }
                      }
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "retry_after_ms": {
                      "type": "integer"
                    },
                    "message": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Natural-language clarification for needs_input."
                    },
                    "needs_input": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "label": {
                            "type": "string"
                          },
                          "schema": {
                            "type": "object"
                          }
                        }
                      }
                    },
                    "candidates": {
                      "type": [
                        "array",
                        "null"
                      ],
                      "items": {
                        "type": "object"
                      }
                    },
                    "approval_required_reason": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    },
                    "metadata": {
                      "type": "object",
                      "description": "Attribution for a single result, when present."
                    },
                    "continuation": {
                      "$ref": "#/components/schemas/Continuation"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "invalid_request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "invalid_source_input"
                        },
                        "message": {
                          "type": "string"
                        },
                        "required_scope": {
                          "type": "string"
                        },
                        "limit": {
                          "type": "string",
                          "enum": [
                            "per_request",
                            "monthly",
                            "max_spend",
                            "daily"
                          ]
                        },
                        "required": {
                          "type": "object",
                          "properties": {
                            "amount": {
                              "type": "number",
                              "example": 0.023
                            },
                            "amount_micro_usd": {
                              "type": "string",
                              "example": "23000"
                            },
                            "currency": {
                              "type": "string",
                              "example": "USD"
                            }
                          }
                        },
                        "available": {
                          "type": "object",
                          "properties": {
                            "amount": {
                              "type": "number",
                              "example": 0.023
                            },
                            "amount_micro_usd": {
                              "type": "string",
                              "example": "23000"
                            },
                            "currency": {
                              "type": "string",
                              "example": "USD"
                            }
                          }
                        },
                        "field": {
                          "type": "string"
                        },
                        "missing": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "expected": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "operations": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "retry_after_ms": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "invalid_api_key, api_key_expired or api_key_revoked",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "invalid_source_input"
                        },
                        "message": {
                          "type": "string"
                        },
                        "required_scope": {
                          "type": "string"
                        },
                        "limit": {
                          "type": "string",
                          "enum": [
                            "per_request",
                            "monthly",
                            "max_spend",
                            "daily"
                          ]
                        },
                        "required": {
                          "type": "object",
                          "properties": {
                            "amount": {
                              "type": "number",
                              "example": 0.023
                            },
                            "amount_micro_usd": {
                              "type": "string",
                              "example": "23000"
                            },
                            "currency": {
                              "type": "string",
                              "example": "USD"
                            }
                          }
                        },
                        "available": {
                          "type": "object",
                          "properties": {
                            "amount": {
                              "type": "number",
                              "example": 0.023
                            },
                            "amount_micro_usd": {
                              "type": "string",
                              "example": "23000"
                            },
                            "currency": {
                              "type": "string",
                              "example": "USD"
                            }
                          }
                        },
                        "field": {
                          "type": "string"
                        },
                        "missing": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "expected": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "operations": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "retry_after_ms": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "insufficient_balance or spend_limit_exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "type": "string",
[...]
